@import "../../../styles/variables.scss";

.button {
  background: $primary;
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 35px;
  border: 0;
  border-radius: 5px;

  &.light {
    color: $primary;
    background: $white;
  }

  &:hover {
    background: #003449;
  }
}
