.vision_container {
  display: flex;
  flex-direction: column;

  @media (min-width: 720px) {
    flex-direction: row;
  }
}

.vision_heading {
  background: #96cde2;
  h2 {
    font-size: 32px;
  }
}

.vision_content {
  background: #dbdbdb;
  p {
    padding: 40px;
    font-size: 28px;
    line-height: 36px;
    margin: 0;
  }
}

.vision_image {
  background: #96cde2;
  background: -webkit-linear-gradient(
      rgba(150, 205, 226, 0.8),
      rgba(0, 88, 124, 0.8)
    ),
    url("./image.jpg");
  background: linear-gradient(rgba(150, 205, 226, 0.8), rgba(0, 88, 124, 0.8)),
    url("./image.jpg");
  background-size: contain;
}
