header {
  background: #00587c;
  position: sticky;
  top: 0;
  height: 70px;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px -2px #00587c;
}

.menu {
  width: 960px;
  display: flex;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

a {
  color: #ffffff;
  font-weight: 900;

  &:hover {
    color: #96cde2;
  }
}

.logo {
  height: 50px;
}
