@import "../../styles/variables.scss";

.about {
  padding: 10rem 0;
}

.featuredText {
  padding: 2rem;
  @media (min-width: 992px) {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid $primary;
  }
}
