@import "../../../styles/variables.scss";

.testimonial {
  width: 80%;
  height: 100%;
  background: #f8f9fa;
  padding: 30px;
  margin: 25px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  p {
    line-height: 28px;
    font-size: 14px;
  }
}

.quote {
  color: $primary;
  font-size: 20px;
}

.star {
  color: #e8c30c;
  padding: 0 3px;
}
