.quote-section {
  padding-top: 5rem;
  background: linear-gradient(
    to bottom,
    #dbdbdb 0%,
    #{fade-out(#dbdbdb, 0.1)} 75%,
    #{fade-out(#dbdbdb, 0.2)} 100%
  );
  p {
    margin-bottom: 5rem;
    color: $primary;
    font-size: 3rem;
    font-style: italic;
  }
}
