@import "./bootstrap/bootstrap.min.css";
@import "variables.scss";
@import "navbar.scss";

@import "./fontawesome/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;0,900;1,300&display=swap");

.button-radio {
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

// label
.button-radio + label {
  user-select: none;
  cursor: pointer;
  line-height: 1.4;
  background: $secondary;
  color: $primary;
  padding: 20px;
  width: 100%;
  font-weight: 600;

  &:hover {
    background: #9c9c9c;
  }
}
